<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Raffle_New</display-name>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>slesportmail@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded image</description>
    <param-name>file-upload</param-name>
    <param-value>raffleImage\</param-value>
  </context-param>
  <servlet>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>UploadImageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
       <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <context-param>
  <param-name>authtoken</param-name>
  <param-value></param-value>
  </context-param>
  
  <context-param>
  <param-name>posturl</param-name>
  <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
  </context-param>
  
  <context-param>
  <param-name>business</param-name>
  <param-value>seller@7khost.com</param-value>
  </context-param>
  
  <context-param>
  <param-name>returnurl</param-name>
  <param-value>http://localhost:8080/RaffleNew/success.jsp</param-value>
  </context-param>
  
</web-app>
